user,name,notes,sshUrl,do_pull,local_destination,local_repo_dir_namethis line is for documentation; it is ignored by the parser. user is the username who owns the repository,"repository name, e.g. ""repository_watcher""",,"doesn't need to be filled out if it's provided by the github api call, otherwise it's required","boolean, ""false"" (case-insensitive) to not pull, otherwise do pull","full absolute path to the directory containing the repository on the local computer other than the default, if do_pull is not ""false""","if the local copy of the repository doesn't have the same name as the remote repository, then put the local name of the repository here."tensorflow,tensorflow,,https://github.com/tensorflow/tensorflow,TRUE,/Users/mica/git,